<!DOCTYPE html>
<html>
  <head>
    <title>Letters from Newfoundland</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>



<body>



  <div id="div-introduction">
    <h2>
Introduction</h2> "His graceful pen told the tale of Newfoundland history in a style clear and melifluous that read like a romance. His contributions to the press of New York and Montreal as well as to our own columns were models of newspaper correspondence at its
    best."(Presbyterian Witness Sept. 7, 1901, p. 1, c. 2-3) "Harvey was a writer with wide interests, great industry and impressive ability. …Harvey's numerous publications, with their burning message about the country's resources, possibly had effects
    upon generations of Newfoundlanders that are hard to calculate."( O'Flaherty, p. 73-76) Rev. Dr. Moses Harvey himself writing in The Gazette hoped future historians " …might even bless the memory of the plodder who made this little contribution [his
    writings in the Gazette] to the history of this corner of creation." (Gazette Aug. 11, 1899, p. 4, c. 4-5)
    <p>This work brings together for the first time a substantial listing of the works and lectures of Rev. Dr. Moses Harvey (1820-1901). The over two thousand entries show the depth and breadth of subject matter about which Harvey wrote and spoke. While
      he is more popularly known for his writings on the giant squid or devil fish, it is his concentration on a broad range of current events in nineteenth century Newfoundland that stands as a valuable source of material- most of it primary- for researchers
      of this time period. The lack of a comprehensive bibliography has meant that researchers have had to rediscover the wealth of his publications again and again. As each year passes, the ability to verify and track Harvey's authorship is compromised.
      This bibliography is long overdue and will provide an important stepping stone for future researchers. The adventure started with background readings in the publishing patterns of the time and the milieu in which Harvey was educated and lived. Then
      a number of indexes were searched. A bibliography of selected sources used is <a href="http://staff.library.mun.ca/~ebrowne/harvey/sources.html">attached</a>. Most of Harvey's writings appeared in newspapers and tracking them presented two major
      challenges, firstly the identification of individual articles where no indexes exist and secondly, the establishment of authorship since most of the articles failed to identify the author specifically. The former meant examination of individual
      newspapers and some journals issue by issue looking for articles dealing with Newfoundland and Labrador topics (and in some cases signed articles). It was not feasible to search for non-Newfoundland and Labrador topics. Not all of the newspapers
      or journals yielded positive results. The material examined issue by issue is listed below:</p>
    Canadian News (1856-1874)
    <br>The Citizen (Halifax: 1870-1876)
    <br>Daily News (London: 1872-June 1874, 1878-June 1879)
    <br>English Presbyterian Messenger (May 1845-Dec. 1847)
    <br>Evening Herald ([1890], 1891-1897)
    <br>Evening Mercury ([1882-1883])
    <br>The Evening Post (New York: 1870-June 1874)
    <br>Express ([1869-1870], Jan-Mar, 1874)
    <br>The Gazette (Montreal: 1873-Sept. 1901)
    <br>The Globe (Toronto: Oct., 1868-1879)
    <br>Harbor Grace Standard (1859-1865)
    <br>The Morning Chronicle (1869, 1878-May 5, 1881)
    <br>The Morning Courier ([1856]-58, [1861], [1864-1865], [1869-1870]
    <br>Newfoundlander (1873)
    <br>The New York Daily Tribune (1890-1891)
    <br>North Star (Aug., 1872-1877)
    <br>Patriot (Charlottetown: Sept. 1871-April 1873)
    <br>Presbyterian Witness (Halifax: July 1852-1877)
    <br>The Royal Gazette and Newfoundland Advertiser (Oct. 1863-1881)
    <br>St. John's Daily News (Aug. 27, 1860-April 30, 1861)
    <br>The Telegraph (New Brunswick: 1869-1878)
    <br>The Telegraph (St. John's: Sept., 1856-Dec., 1861)
    <br>Temperance Journal (July 2, 1878-June 1, 1880, 1885-Oct. 26, 1887)
    <p>Other entries were identified by using available indexes, examining the holdings of the Centre for Newfoundland Studies and local archives, communications with other researchers and pursuing references to material mentioned within the articles themselves.
      Information provided by Jim Armour about the articles in The Gazette was especially helpful. The gaps in the indexing of nineteenth century sources are being slowly addressed and these developments should facilitate future research and hopefully
      reveal more material.
    </p>
    <p>Rev. Dr. Harvey used at least three known pennames according to Cushing, 1885. The penname Delta has been traced to his correspondence with the Boston Traveller (Morning Chronicle Sept. 18, 1879, p.1, c. 3-5) and may have been used locally in the
      Temperance Journal and The Telegraph (St. John's), although it was not possible to verify the latter at the time of this printing and thus entries were not made in the bibliography for these articles. The penname Locomotive was also attributed to
      Harvey and I have made the assumption that a series of articles in the 1880 issues of The Morning Chronicle signed Locomotive are his. This is based on the fact that The Telegram makes references to his writings as Locomotive on Jan. 7, 1882 and
      later on Jan. 9 of the same year notes that Harvey was "the secret editor of the Morning Chronicle." None of his writings using the penname Nemo have been traced. As for the newspapers, The Daily Examiner of Dec. 27, 1884 reported that in an interview
      given to a Halifax Herald's representative Harvey himself stated he was "a regular contributor to the London Daily News, the New York Post, Boston Traveller, Montreal Gazette and Toronto Globe." Other sources verify this and add numerous other newspapers
      to the list. As of this date I have been unable to trace Harvey's "regular" contribution to the London Daily News either by searching for Newfoundland and Labrador topics or by signed articles. Besides the dates given above I have searched July
      issues for 1869-1871, 1875-1877 and 1880-1882. The writings in The Telegraph (N.B.) and The Citizen were traced to Harvey by a comparison to his other writings during the same time frame.</p>
    <p>The bibliography is arranged alphabetically by title. The filing is machine generated so it was necessary to manually delete the leading articles. Other peculiarities of filing were left as is. Entries consist of the title, year and date of publication,
      paging, notes and name of the newspaper or publisher. The original spelling throughout has been preserved. It is not always consistent, e.g. Greely and Greeley or Harbor and Harbour. Some liberties have been taken with the titles of the newspaper
      entries, for example most of The Citizen articles were published with "Our Newfoundland letter" at the head but to make the bibliography more useable this was omitted and for this newspaper the headings within the article were used as the title.
      Information for each entry is as complete as possible. The majority of entries have been verified but on occasion it was not possible to do so. Headings used within the articles generally can be found in the notes field enclosed in square brackets.
      Occasionally, keywords and other miscellaneous information of particular interest are also included in the notes field. MG339 and Coll. 041 indicate the Harvey collections at the Provincial Archives and the CNS' Archives respectively.</p>
    <p>While this bibliography represents a significant start to the recording of Harvey's works, much still remains to be done. I welcome additions and or corrections to this work. My e-mail address is <a href="mailto:ebrowne@mun.ca">ebrowne@mun.ca</a>.
      The online version is in
      <a href="http://staff.library.mun.ca/~ebrowne/harvey/bibliography.pdf">pdf
format </a>and can be read and searched using the features of Adobe Acrobat reader. It is however slow to load! This introduction was last edited July 2, 2004.</p>
    Elizabeth Browne
    <br>Cataloguing Librarian
    <br>Queen Elizabeth II Library
    <br>Memorial University of Newfoundland
    <br>St. John's, NF
    <br>&nbsp;
  </div>

  <div id="div-right">
    <div id="div-letters">

    </div>

    <div id="div-letters-menu">

      <p>
        View letters from year:
      </p>

      <form>
        <select name="year" id="yearSelect" onchange="requestLettersForYear()">
          <option value="1877">1877</option>
          <option value="1878">1878</option>
        </select>
      </form>
      
      <input id="textbox-search" type="text"/>
      <input type="button" value="Find" onclick="searchForTextInBox()"/>
      <input type="button" value="Clear" onclick="clearHighlighting()"/>

<!--       <div>
        <script>
          (function() {
            var cx = '014320716176816474449:52aq0fgjksc';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();

        </script>
        <gcse:searchbox></gcse:searchbox>
        <gcse:searchresults></gcse:searchresults>
      </div> -->
    </div>






  </div>
  
  <script src="/hilitor.js"> </script>
  <script>
    function requestLettersForYear() {

      var year = document.getElementById("yearSelect").value;
      var request = new XMLHttpRequest();
      request.onload = function() {
        displayEmbedded(request.responseText);
      };

      request.open("POST", "/letters?year=" + year);
      request.send();
    }

    function displayEmbedded(html) {

      document.getElementById("div-introduction").innerHTML = html;
    }
    
    var myHilitor = new Hilitor("div-introduction"); 
    
    function searchForTextInBox() {
      // myHilitor.remove(); 
      var keywords = document.getElementById("textbox-search").value;              
      window.find(keywords); 
      // myHilitor.apply(keywords);
    }
    
    function clearHighlighting() {
      myHilitor.remove();
    }

  </script>

</body>
</html>
