<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>MOSES LETTERS</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <div>
<script>
  (function() {
    var cx = '014320716176816474449:52aq0fgjksc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox></gcse:searchbox>
      <gcse:searchresults></gcse:searchresults>
    </div>
    <header>
      <h1>
        Letters from NL
      </h1>
    </header>

<!--     <main>
      <p class="bold">Oh hi,</p>
      <p>Tell me your hopes and dreams:</p>
      <form>
        <input type="text" maxlength="100" placeholder="Dreams!">
        <button type="submit">Submit</button>
      </form>
      <section class="dreams">
        <ul id="dreams">
        </ul>
      </section>
    </main>

    <footer>
      <a href="/letter1.doc">
        Letter 1
      </a>
    </footer> -->
    
    
 <form>
       <select name="year" id="yearSelect" onchange="myFunction()">
      <option value="1877">1877</option>
      <option value="1878">1878</option>
    </select>
    </form>

    
    <div id="div-letters" style="">
      
    </div>
    
    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  

      


    
<script>
function myFunction() {
   
    var year = document.getElementById("yearSelect").value;
    var request = new XMLHttpRequest(); 
    request.onload = function() {
            displayEmbedded(request.responseText); 
    }; 
    
    request.open("POST", "/letters?year="+year); 
    request.send();
}
  
  function displayEmbedded(html) {
   
    document.getElementById("div-letters").innerHTML = html; 
  }
</script>

  </body>
</html>
