#div-introduction {
  width: 40%;
  padding: 10px;
}

#div-right {
  position: fixed;
  top: 5px;
  right: 20px;
  border: 1px solid black;
  width: 55%;
  height: 95%;
}

#div-letters-menu {
  padding: 0 0 0 10px;
}

#yearSelect {
  display: block;
  margin: auto;
}

#div-letters {
  float: right;
  width: 75%;
  height: 95%;
  overflow: auto;
  margin: 10px; 
  background-color: #ffffe6;  
  font-style: italic;
  border: 1px solid black;
}
