<html xmlns="http://www.w3.org/TR/REC-html40">
<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<style>
<!--
h1 {
	page-break-after: avoid;
	font-size: 14.0pt;
	font-family: "Calibri", "sans-serif";
	color: #365F91;
}
span.Heading1Char {
	font-family: "Calibri", "sans-serif";
	color: #365F91;
	font-weight: bold
}
.MsoChpDefault {
	font-size: 12.0pt;
	font-family: "Cambria", "serif";
}
-->
</style>
</head>

<body lang=EN-US>
<div class=WordSection1>
  <h1>January 27 1877</h1>
  <p>Our Newfoundland <span class=GramE>letter  January</span> 19</p>
  <p>The legislature is summoned to meet for the dispatch of
    business on the first Thursday in February. It is not anticipated that any
    measures of great importance will be introduced by Government during the
    session, or such as will involve any great changes in the present even tenor of
    our way. Internal reforms and an adaption of existing laws to the encouragement
    of agricultural, lumbering and mining enterprises are urgently needed. When, at
    the present moment, no man can purchase for farming purposes more than 100
    acres of land, no matter what may be his capital or the extent of his views,
    and when no large grant then 200 acres will be given to any one for lumbering,
    and when even in the very best agricultural and lumbering district—that of the
    Gander—no one can obtain a grant of a single acre of land for any purpose, it
    is evident that our laws require wholesale revision. To this it is to be hoped
    our Government will address themselves at once, and at least remove obstacles
    out of the way of industrial enterprises. A new land and forest act is urgently
    required. It is also quite time that the telegraph wire was extended to the
    mining region, where population is rapidly increasing, more especially as
    during winter, communication by sea with the capital is cut off, and mail
    communication is maintained at long intervals by <span class=SpellE>MicMac</span> Indians across a <span class=SpellE>roadless</span> country. It is very
    probable that a measure for telegraphic extension in this <span class=GramE>direction,</span> will be introduced at an early period of the session. The construction of an
    ordinary road, along the route of the projected railway, is also spoken of.
    Such a road would open up the country and lead to the settlement of districts
    favorable for agriculture, and would greatly facilitate the construction of a
    railway along the same track, when the time arrives for this important
    undertaking. Our Government <span class=GramE>are</span> now in a good position
    for initiating such works of public utility. They have <span class=GramE>an
    overflowing</span> revenue, amounting this year to $810,000, the highest figure
    yet reached, and indicating beyond mistake the prosperous condition of the
    colony, in the midst of a general depression of trade. The influence of the
    hard times is scarcely felt here. Of course this prosperity makes governing
    easy work. The people are contented; merchants and traders at the end of the
    year have reason to be satisfied with the condition of their ledgers, and the
    working classes are, as a rule, in comfortable circumstances. We may
    anticipate, therefore, that the popularity of our Government will continue and increase,
    under such favorable conditions, and that they will be able to push forward
    public works of importance.</p>
  <p>The S.S. George Cromwell</p>
  <p>Serious apprehensions regarding the steamer George Cromwell
    of the Cromwell line, plying between New York and St. John’s are entertained.
    She left Halifax for St. John’s on the 3<sup>rd</sup> of January, and has not <span
class=SpellE>simce</span> been heard of. There were on board the crew, and, as
    far as known at present, only five passengers. It may be that owing to the
    failure of her machinery, she is lying in a disable condition, or had been
    fallen in with by some other vessel; but now that she is 10 days over due,
    matters look gloomy. Under canvas the vessel could make little way, and as <span
class=SpellE>striong</span> westerly winds have prevailed, she may have been
    obliged to run eastward, and may be heard of from the <span class=SpellE>otherside</span> of the Atlantic. The Cromwell steamers have been remarkably successful, made
    excellent runs all summer, and kept time quite as well as the Allan steamers,
    and this without a single mishap. Passengers, too, spoke well of the
    accommodation on board. It was a mistake, however, to continue running after
    winter had fairly set in, as the build of these steamers is not such as to
    enable them to contend with the stormy weather in these boisterous regions. Let
    us hope that the Cromwell will soon be heard of as all right.</p>
  <p>Disasters at sea</p>
  <p>The late heavy <span class=GramE>gale have</span> been
    attended with serious loss of life around these shores. <span class=GramE>A
    month ago the Fire?</span> <span class=GramE>Fly left Bonne Bay for St. John’s,
    and has not since been <span class=SpellE>herad</span> of.</span> But faint
    hopes are now entertained of her safety. No less than 28 souls were on board.
    The schooner William left St. John’s on the 16<sup>th</sup> December for <span
class=SpellE>Twillingate</span>, and has not yet arrived; great fears are
    entertained that she has been driven away to sea, along with five other small
    coasters, during the heavy gale of December 17<sup>th</sup>. There is now but
    little hope that any of these ill-fated vessels will ever be heard of.</p>
  <p>Lost of the <span class=GramE>snow ???</span><br>
    On the morning of the 15<sup>th</sup> Constable Ringwood, of Bay Roberts, was
    found frozen to death on <span class=SpellE>Bareweed</span> Hill. The
    unfortunate man had been to Port-au-Grave on duty, and on his return home was
    overtaken by a heavy snow-storm, lost his way, and at length sank down
    exhausted on the spot where his body was found. It appears he suffered from an
    affliction of the eyes, and this, added to the thick weather, <span
class=SpellE>sufficeintlty</span> accounts for the melancholy event. He has been
    on the constabulary for fifteen years and bore an excellent character.</p>
  <p><span class=SpellE>Eccleasstical</span></p>
  <p>Bishop Kelly, the <span class=GramE>successor ???late</span> Bishop Field has tendered his resignation. H</p>
</div>
</body>
</html>
