<html xmlns="http://www.w3.org/TR/REC-html40">
<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<style>
<!--
h1 {
	line-height: 115%;
	page-break-after: avoid;
	font-size: 14.0pt;
	font-family: "Cambria", "serif";
	color: #365F91;
}
p.MsoPlainText, li.MsoPlainText, div.MsoPlainText {
	font-size: 10.5pt;
	font-family: Consolas;
}
span.PlainTextChar {
	font-family: Consolas;
}
span.Heading1Char {
	font-family: "Cambria", "serif";
	color: #365F91;
	font-weight: bold
}
.MsoChpDefault {
	font-size: 14.0pt;
	font-family: "Calibri", "sans-serif";
}
.MsoPapDefault {
	line-height: 115%;
}
-->
</style>
</head>

<body lang=EN-US>
<div class=WordSection1>
  <h1>April 7, 1877 Saturday</h1>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     In an able and lucid speech the Hon. J.J.
    Rogerson, Receiver-General, submitted his annual statement of the affairs of
    the colony for the past year to the House of Assembly.  He informed the House that the total revenue
    for the year 1876 amounted to $855 228.  The main portion of this amount was derived from customs' duties, which
    had yielded $807 761.  The postal revenue
    was $15 000<span class=GramE>;  that</span> from Crown lands $4 793; from licenses, $6 616, the remainder being made up
    from various sources.  Lighthouse dues
    amounted to $29 112, but nearly the whole sum is absorbed in the maintenance of
    lighthouses and harbor lights, now numbering 25.  The sum of $11 131 had been paid as <span
class=SpellE>bouties</span> on the construction of one hundred vessels of 4 070
    tons.  The average rate of taxation per
    capita for last year was $5.29 as compared with $5.77 in 1870.  &quot;This,&quot; said the Receiver-General,
    &quot;is probably about the lowest rate of taxation on this side of the
    Atlantic, showing that the increase of population gives a greater area and
    reduces the per capita expenditure upon account of revenue.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     The debenture debt of the Colony amounts to
    $ 1 319 390, the interest being $65 710.  On this, the Receiver-General remarked, &quot;The pro rata liability of
    the country, on account of the funded public debt, is at present $8.62 and 1/2
    per head, based on the census of 1874.  The large outlay on account of our public institutions, our lighthouse
    establishments, as well as the opening up of the country by roads, and other
    useful and necessary public works, was well represented in this obligation.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     To meet the expenditure for the current
    year, the Receiver-General estimates that a revenue of $858 000 will be
    required.  The annual charges on the
    revenue he states as follows:-</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>Steam and Postal
    Service ---------- $145 180</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>Education
    -------------------------   88 260</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     Roads and Bridges -----------------   90 000</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     Court Houses and <span class=SpellE>Gaols</span> ------------    7 000</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     Police and Magisterial Department -   57 788</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     Relief of Poor <span class=GramE>--------------------  123</span> 377</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     Pensions --------------------------   13 717</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     Public Debt Interest --------------   67 775</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     Geological Survey -----------------    5 000</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     Special Vote for Public Works -----   20 000</span></p>
  <p class=MsoPlainText><span class=GramE><span style='font-family:"Courier New"'>Besides
    Judicial and other Branches of the Civil Service.</span></span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     To encourage the bank fishery, $2 000 are
    to be expended; to carry out scientific explorations at Northern Labrador
    $2000; for the education of deaf-mutes $500.  The London Board of Trade had authorized the construction of a new steam
    boiler for the Cape Race fog whistle; and also agreed to pay 300lbs. stg. for
    the construction of a road from Cape Race lighthouse to Clam Cove.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     Our Receiver-General has long been an
    ardent advocate for <span class=GramE>the encourage</span> of home industries,
    so as to provide employment for our population.  A boot and shoe factory has been established here which employs 160
    hands, and distributes a large amount in wages.  There is no reason why the immense quantity of nets, twines, cordage, <span
class=SpellE>etc</span>, required by our fishermen should not be manufactured here,
    but at present we have but one small factory which employs few hands.  Hemp, flax, raw cotton and wool, imported
    into the colony for manufacturing purposes, are admitted duty free, as well as
    all machinery for that purpose; and in addition, the Receiver-General proposes
    to pay a premium of 5 percent on the original cost at port of shipment, on all
    material for the manufacture of nets, lines, cordage, etc.  &quot;If&quot;, said the Receiver-General,
    &quot;we can only share in a manufacture of a portion of the fishing gear and
    coarse woolen apparel now imported into the colony, it will give employment to
    many idle hands now among us, as the following figures, giving the value of our
    importations in 1876 will demonstrate:-</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>           Cordage...................$122,495</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>           Fishing Tackle............ 125,025</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>           Oakum.....................   6,156</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     He further proposes to lower the duty on
    tallow from 13 to 5 percent, so as to give opportunity for the establishment of
    soap and candle factories, of which we have none.  A tobacco factory has just been opened by Mr.
    Archibald, of Halifax, which will employ a large number of hands.  The raw <span class=SpellE>lwaf</span> is to
    be admitted on four months bond for duty, instead of cash as is charged on the
    manufactured article.  The duty on leaf
    tobacco is 7 cents per pound.  Such are
    the leading points in the Receiver-General's statement which allows that the
    revenue is in a healthy state, and that the condition of the colony is
    decidedly prosperous.  Our revenue is <span
class=GramE>equal</span> to the present very liberal expenditure, and for any
    important undertaking, such as a railroad, we could without inconvenience, bear
    an increase of taxation.  The total cost
    of the Railway Survey has been about $45,000.  The expenditure was a wise one, as it will be the first step toward a great
    public work which will fairly start the colony on a path of progress.  The day, I trust, is not distant when
    England, Canada and this colony will unite in a construction of a railway
    across this island - a work of international importance, as shortening the
    route between two continents, and materially reducing its dangers.  It has reported that there has been lately a
    communication from an eminent English railway contractor on the subject of the
    construction of our railway, but the nature of his propositions has not yet
    been made public.  The most liberal terms
    would undoubtedly be granted by our Government to a company who would undertake
    its construction.  <span class=GramE>no</span> doubt the present depression in trade is <span class=SpellE>favourable</span> to the initiation of the enterprise.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     On the 10th of March our steam fleet,
    numbering in all twenty-three steamers, took their departure for the ice <span
class=SpellE>fileds</span>.  They had on
    board about 4<span class=GramE>,00</span> stalwart men - the elite of our seal
    hunters.  They have started <span
class=SpellE>jnder</span> the most <span class=SpellE>favourable</span> circumstances, the coast being entirely clear of ice, so that no impediment
    existed to retard the steamers in reaching the &quot;seal meadows&quot;.  Such a condition of things is almost unknown
    during the last thirty years, as usually we have either a complete ice blockade
    at the beginning of March, or vast ice fields at no great distance from the
    shore.  Everything being thus <span
class=SpellE>favourable</span> for the hunt, we have &quot;great
    expectations&quot; regarding the results.  The hunters getting early within reach of their prey, have a much better
    chance of finding their quarry than in former years.  It was with peculiar <span class=SpellE>fervour</span> that our sealers, before starting, drank their <span class=SpellE>favourite</span> toasts this season<span class=GramE>:-</span> &quot;Death to our best
    friends,&quot; and &quot;may we soon see bloody decks,&quot; as they expect
    soon to realize these bloodthirsty expectations.  The Arctic and Aurora, Dundee steamers, have
    taken between them 500 of our stout fellows, who, with the ample allowances of
    good food and the comfortable quarters provided for them will find themselves
    in <span class=SpellE>paradisaical</span> condition, compared with those on
    board our Newfoundland steamers, where the fare is much more meagre, and the
    men have to rough it considerably.  The
    Scotch standard of comfort for the men is much higher than that of this
    country, and it is to be hoped that this will have the effect of bringing ours
    up to a higher level.  In truth, there is
    much room for improvement.  In addition
    to the steamers, 36 sailing vessels have taken their departure from various
    ports carrying 2,658 men; so that altogether, 6,658 men are engaged in the
    slaughter of the youthful &quot;white coats.&quot;  In all probability, the havoc will be great;
    but as yet we have no news from hunting grounds.  Owing to the long continuance of westerly
    winds the coast is entirely free from ice as far as Cape John.  In fact, the &quot;oldest inhabitant&quot;
    does not remember such a mild winter as the present.  It reminds one of an English winter.  Of course this <span class=GramE>is owing</span> mainly to the want of our usual ice-belt, brought down on the bosom of the
    Arctic current.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     Communication by sea with the mining region
    is cut off in winter, and the overland mail, for some reason, has proved a
    failure this year.  We have no later
    dates from <span class=SpellE>Bett's</span> Cove and Tilt Cove Mines than <span
class=SpellE>Fecbruary</span> 9th.  At
    the former mine, an unfortunate accident occurred resulting in the deaths of
    five children and one man.  It appears
    some of the houses are built directly under a cliff on the summit of which a
    great mass of snow accumulated early in the winter.  Owing probably to the mild <span class=GramE>weather,</span> and a high wind which <span class=SpellE>prevailled</span> at the time, the
    snow became detached and slid down, burying two houses under ten feet of
    snow.  The utmost efforts were made to
    dig out the inmates, thirty-four in number; but sad to relate five children
    were taken out dead, and one man was so much injured that he died soon after.  All the others were rescued unhurt.  Mining operations are carried on with great <span
class=SpellE>vigour</span> at <span class=SpellE>Bett's</span> Cove, and six
    hundred men are employed on the works.  At Tilt Cove too, mining continues to yield excellent returns.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     A <span class=SpellE>despatch</span> from
    Lord Carnarvon, in reference to the appointment of magistrates on the so-called
    &quot;French Shore&quot;, has been made public.  Permission is granted for such appointments, and for the collection of
    revenue there, but Lord <span class=SpellE><span class=GramE>carnarvon</span></span> stipulates that the selection and appointment should be left to the Secretary
    of state, and that the colony pay each 500 pounds sterling per annum. The
    reason assigned for this is that these magistrates having to discharge duties
    involving the interpretation and observance of treaties for which the imperial
    Government is responsible, must be selected by the imperial authorities, but we
    are to have the <span class=SpellE>honour</span> of paying their rather
    handsome salaries.  Now, we decidedly
    object to this arrangement.  If we pay,
    we must select the men.  It is likely a
    compromise will be accepted, and that we shall be allowed to appoint, subject
    to the approval of the Secretary of the Colonies.  If the territory is ours, on what principle
    do the Imperial authorities require <span class=GramE>to hold</span> in their
    hands the appointment of magistrates?  It
    is another instance of the weak policy pursued for generations by British
    statesmen in dealing with the preposterous claims of the French.  They will speedily find it unprofitable to
    fish along a shore already settled.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     Since the foregoing was written, the
    steamer Greenland arrived from the ice with 27,000 seals, all in prime
    condition.  They are fully worth
    $81,000.  She was but sixteen days
    out.  Where is the goldmine to compare with
    this?  She got her seals far north - off
    Labrador - and saw only five sailing vessels in the same vicinity, all
    loaded.  Saw no steamers.  <span class=GramE>Seals enough where she was
    to load the Great Eastern three times.</span>  The news is considered <span class=SpellE>favourable</span> as far as it
    goes.</span></p>
</div>
</body>
</html>
