<html xmlns="http://www.w3.org/TR/REC-html40">
<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<style>
<!--
h1 {
	line-height: 115%;
	page-break-after: avoid;
	font-size: 14.0pt;
	font-family: "Cambria", "serif";
	color: #365F91;
}
p.MsoPlainText, li.MsoPlainText, div.MsoPlainText {
	font-size: 10.5pt;
	font-family: Consolas;
}
span.PlainTextChar {
	font-family: Consolas;
}
span.Heading1Char {
	font-family: "Cambria", "serif";
	color: #365F91;
	font-weight: bold
}
.MsoChpDefault {
	font-size: 14.0pt;
	font-family: "Calibri", "sans-serif";
}
.MsoPapDefault {
	line-height: 115%;
}
-->
</style>
</head>

<body lang=EN-US>
<div class=WordSection1>
  <h1>March 8, 1877 Thursday</h1>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     During the last summer, a line of steamers
    called the &quot;Cromwell Line&quot; was established to run between this port
    and New York, calling at Halifax.  Two
    small steamers continued to ply successfully - the George Cromwell and the
    George Washington.  They were narrow
    boats, standing high out of the water, and such as usually are employed on
    rivers or in the coasting trade; but unfit for the stormy weather and
    boisterous seas around these coasts, in the winter season.  They carried our American and Canadian mails fortnightly,
    and made excellent trips, being rarely behind time.  Passengers who came by them reported well of
    the accommodation on board, and they got a fair share of freight and passenger
    traffic. Unfortunately they continued to run after winter set in, tempted, no
    doubt, by the unusually mild season.  The
    George Cromwell left Halifax for St. John's on the 3rd of January, with a full
    cargo and about seven passengers.  She
    was not heard of till recently, when a lifebuoy, having her name on it, was
    picked up at Little <span class=SpellE>Barrisway</span>, Placentia, with
    portions of a wreck, indicating but too surely her sad fate.  There can be no doubt that she has gone down,
    and that all on board have perished.  About a fortnight afterwards the George Washington left Halifax for St.
    John's with a full cargo and a few passengers, and now it is certain <span
class=SpellE>taht</span> she too has been lost with all on board. On the 1st of
    February the light-house keeper, writing from Cape Race, conveyed the
    intelligence that a wreck had occurred in that neighborhood, and that pieces of
    a blanket had been picked up, with the name George Washington marked on
    them.  The catastrophe happened on the
    night of the 20th January, or the morning of the 21st, at French Mistaken
    Point, near St. Mary's.  Fourteen bodies
    have been recovered in a sadly mutilated state, so that identification was
    impossible.  As there were 31 persons on
    board, 17 are still unaccounted for.  From the fact that the bodies found were completely divested of clothing
    and terribly disfigured, the limbs being torn off in many instances, the hair
    completely removed from the heads, it is inferred that when the unfortunate
    vessel struck, her boilers must have exploded, and shattered everything to
    atoms.  The bodies were dragged with
    great difficulty, by ropes, up cliffs 20 feet high, some daring men being
    lowered from above so as to grasp them when floating.  All have been decently interred.  One man had the letters R.R. on his arm, <span
class=GramE>another a</span> crucifix, and another the figure of a bird.  They were found at <span class=SpellE>Bristo</span> Cove, seven miles from Cape Race.  Sixty-three persons have perished in these two steamers, and not a soul
    rescued to tell the particulars of their sad fate.  In the case of the Washington it is evident
    that in rounding Cape Pine and Cape Race she ran ashore, dragged in probably by
    the strong <span class=SpellE>indraught</span> at the mouth of <span
class=SpellE>Trepassey</span> Bay.  Many
    a gallant vessel has met her doom on that dangerous coast by hugging the land
    too closely and thus being caught in the currents that prevail there.  It seems a strange fatality that both vessels
    should be wrecked in the same way, and probably about the same spot, within one
    fortnight, the captains of both being so well acquainted with the coast.  With proper care there is, however, no
    difficulty in rounding these capes which bear such an ill repute.  Captain <span class=SpellE>Orlebar</span>,
    who made a careful survey of the coast, says in his directions<span
class=GramE>:-</span> &quot;A vessel from the westward may round Cape Pine and
    Cape Race with perfect safety if only attention is given to the lead.  At a distance of ten miles there is not more
    than forty fathoms, so that maintaining a depth of more than thirty fathoms no
    risk can be incurred.&quot;  How many
    vessels and lives would be saved if these directions were acted <span
class=GramE>on.</span></span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     In the Governor's speech at the opening of
    the Legislature, on the 1st of February, the following important announcement
    was made<span class=GramE>:-</span> &quot;On the subject of British and French
    fishery privileges on our coasts, negotiations have been continued to
    accomplish an amicable settlement, and no endeavor has been spared by my
    Governor to hasten a conclusion so long and so anxiously desired.  Her Majesty's Government <span class=GramE>have</span> been actively engaged in considering the question of placing Magistrates on
    those parts of the shore where the French exercise rights of fishing; and I am
    now happy to announce to you that arrangements will be made for early
    arrangements.&quot;  A great point has
    thus been gained - one for which we poor Colonists have been pleading for long
    years and hitherto in vain - permission to appoint Magistrates in a part of our
    own territory, so as to make life and property secure among a population of 10
    000 who are living outside the pale of law.  Such deference was paid, by successive Governments in Britain, to the
    wishes of the French on this point, and so timid were the Imperial authorities
    about giving umbrage to the French, that till now, they refused to allow of the
    appointment of Magistrates on our Western coast.  We are quite jubilant over this stride in
    progress, and begin to see a possible solution of our difficulties.  Diplomacy we shall henceforth throw to the
    winds, as it has only yielded disappointment and vexation. Now we must take the
    matter into our own hands, settle the territory, lay down roads, establish schools,
    plant custom houses, so that the revenue of that region may aid in public
    improvements, and thus encourage immigration.  In this way, as the population increases and local industries flourish,
    and farming and mining advance, we shall practically settle French claims, and
    our Gallic friends will find it very unprofitable to spend their valuable time
    endeavoring to fish along the western shore, and will gradually give up
    clamoring for their &quot;exclusive rights.&quot;  The settlement of the French shore is the
    real solution of the vexed question.  We are
    now in a fair way of getting our own again, and it will be our fault if we
    fail.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     In his opening speech Sir John Glover made
    the following reference to his late tour around the island<span class=GramE>:-</span> &quot;I availed myself of the use of H.M.S. Eclipse in September last, to make
    a tour to the north and west, to acquire such information of the country and
    people as personal observation and enquiry might place within by reach; and I
    was enabled to include within this cruise two of the principal western
    settlements where the French exercise fishing privileges.  I was everywhere met by demonstrations of
    respect and loyalty worthy the sons of British soil, and for which I am deeply <span
class=SpellE>greatful</span>.  The
    impressions I have received <span class=SpellE><span class=GramE>fo</span></span> the capabilities of Newfoundland, maritime, mineral and agricultural, are of a
    nature which bids me look forward with confidence to a future of increasing
    prosperity.  The country undoubtedly
    possesses great resources, needing duly enlarged enterprise and industry to <span
class=SpellE>realise</span> the full worth of these rich gifts of
    nature.&quot;  It is gratifying to find
    such a favorable opinion entertained by a gentleman so well qualified to judge
    as His Excellency regarding the capabilities and future of this country.  In his speech the Governor urges strongly the
    extension of the telegraph system to the northern districts, in which our mines
    are situated, and the formation of roads, especially into the valuable timber
    lands.  Of our mining prospects the
    Governor said, &quot;Mining enterprise still advances with rapid strides.  The process of operations going forward in
    Notre Dame Bay must be fully commensurate with the estimate formed of our
    mineral lands by those energetic capitalists who have invested so largely in
    this pursuit.  I am quite of the opinion
    that the production of copper and other ores will very soon take rank as a
    staple resource of this colony.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     In December the <span class=SpellE>barque</span> D.C. <span class=SpellE>Chipman</span>, from <span class=SpellE>Bett's</span> Cove for Swansea, laden with copper ore, when ashore in Witless Bay and was
    sold, ship and cargo.  The purchasers
    have succeeded, after protracted efforts, in getting out a large part of the
    cargo and bringing the vessel into St. John's.  The speculation will probably prove remunerative, though the expenses
    must have been heavy.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     A farmhouse on the banks of the <span
class=SpellE>Quidi</span> <span class=SpellE>Vidi</span> Lake, owned by Mr.
    Jocelyn, was lately destroyed by fire.  The origin of the fire was the fall or explosion of a lamp containing
    kerosene oil.  Unhappily Mrs. Jocelyn,
    with whom the accident occurred, was so badly burned that he died a few days
    afterwards.  Another fire occurred in the
    house of Mr. James <span class=SpellE>McLauchlan</span>, River Head, by which
    the premises and furniture were destroyed, and the owner, an aged and infirm
    man, had a narrow escape, having been lowered from an upper window, barely in
    time to save his life.  This fire is
    reported to have been the act of an incendiary, but this is not yet,
    established by evidence.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     On the 17th of December a small coasting
    vessel called the Flash, with a considerable number of persons on board, was
    blown off the coast in a heavy gale, and as nothing was heard of her it was
    concluded that she had gone to the bottom with all on board.  A few days ago a vessel called the Artic
    arrived in Harbor Grace from Antigua, having on board the crew of the
    Flash.  It appears they were first rescued
    by the <span class=GramE>Iris,</span> and that she too was blown away and had
    to run for <span class=SpellE>Barbadoes</span>, where the shipwrecked men were
    transferred to another vessel, and finally reached home as described, all safe
    and sound. A few days before their arrival a concert had been held in Harbor
    Grace to raise money for the assistance of the families of those who were
    supposed to have perished.  The <span
class=SpellE>smae</span> gale of wind drove off four other small vessels, of
    which nothing has been heard.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     Active <span class=SpellE>prepartions</span> are in progress for the seal fishery.  Our steam fleet will be the largest this year of any that have yet left
    our shores for the ice, and will number in all twenty-five steamers.  The S.S. Artic, Capt. Adams, from Dundee,
    arrived on the 26th ult., and the <span class=SpellE>Aurors</span>, from the
    same place, is hourly expected.  The
    Artic is a splendid steamer, 150 tons larger than the largest of our local
    steamers.  Should these two steamers
    prove successful, others at present engaged in the Greenland fishery will be
    induced to follow.  The season is remarkably
    open, and is considered very <span class=SpellE>favourable</span>, as no ice
    has yet appeared, and the <span class=SpellE>harbours</span> and bays are all
    clear.  Sailing vessels are allowed to
    leave to-day (March 1st), and will get a good chance of reaching the seals
    before the steamers which cannot start till the 10th.  The &quot;oldest inhabitant' fails to
    recollect such a month of February as that which has closed.  Thermometer rarely went more than a few
    degrees below freezing point; and most days were as warm as the beginning of
    May.  Last week we had &quot;a severe
    thaw,&quot; as it is called here; the weather was almost sultry, and the ground
    left almost bare of snow.  We have got a
    fresh supply since.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     The Legislature has been in session since
    the first of February.  It required 17
    days to get the Address in reply to the Governor's speech debated and passed;
    but matters are now fairly under way. The most important matter likely to come
    before the House of Assembly is the extension of the telegraph system to <span
class=GramE>the  mining</span> region - a
    measure urgently needed.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     We were rather alarmed lately by the news
    that the Direct Company was likely to be swallowed up by the Anglo, and the
    monopoly from which we suffered so much, restored.  Amalgamation means a return to a four or six
    shilling tariff.  Only in competition is
    there any safety for the public.  The
    announced reduction to a shilling tariff by the <span class=GramE>Anglo,</span> is of course an attempt to ruin the Direct, but sure to fail.  The plucky directors of the Direct Company
    have hitherto maintained their independence, and will now be sustained by the
    public in their fight against the monopolists.  At such a crisis, the enforcement <span class=SpellE>fo</span> the
    Canadian Marine Telegraph Act would tell powerfully in favor of free
    telegraphy, as it would end the monopoly held here by the Anglo, and enable the
    Direct to lay a second cable, at much less expense than the first, to these
    shores.  How comes it to be still
    inoperative.</span></p>
</div>
</body>
</html>
