<html xmlns="http://www.w3.org/TR/REC-html40">
<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<style>
<!--
h1 {
	line-height: 115%;
	page-break-after: avoid;
	font-size: 14.0pt;
	font-family: "Cambria", "serif";
	color: #365F91;
}
p.MsoPlainText, li.MsoPlainText, div.MsoPlainText {
	font-size: 10.5pt;
	font-family: Consolas;
}
span.PlainTextChar {
	font-family: Consolas;
}
span.Heading1Char {
	font-family: "Cambria", "serif";
	color: #365F91;
	font-weight: bold
}
.MsoChpDefault {
	font-size: 14.0pt;
	font-family: "Calibri", "sans-serif";
}
.MsoPapDefault {
	line-height: 115%;
}
-->
</style>
</head>

<body lang=EN-US>
<div class=WordSection1>
  <h1>April 18, 1990 Wednesday</h1>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     Till very recently this country could not
    boast of a single manufactory of any kind, with the exception of two or three
    engaged in the production of biscuit for the fishermen.  All the energies of the people were absorbed
    in the fisheries and pursuits connected with these; and every article was
    imported.  The idea of local factories
    was scouted as absurd, as it was supposed homemade articles could not possibly
    compete with those from abroad.  Most of
    the biscuit used by our fishermen was formerly imported from Hamburg.  At length, an enterprising American started a
    biscuit factory, and succeeded, after a hard tug, in introducing home-made
    biscuit.  Two other bakeries followed,
    and now nearly the whole of our biscuit is made here and the importations from
    Hamburg have <span class=GramE>dwindles</span> to an insignificant item.  Four biscuit factories are now in operation
    giving employment to a large number of hands, and distributing a considerable
    amount in wages.  The success <span
class=SpellE>iof</span> these establishments encouraged a number of persons with
    some spare capital to commence a boot and shoe factory, which has also proved
    completely <span class=SpellE>succeccful</span>.  About 160 hands are now employed, at good
    wages, and the shareholders have just got a dividend close on 7 percent on the
    invested capital.  As the establishment
    has <span class=GramE>been  in</span> operation little over a year, it is expected that a dividend of 10 or 12
    percent will be declared the second year.  The importation of boots and shoes is now largely reduced, as a superior
    article and at a lower price, is produced here.  Mr. Archibald, a gentleman from Halifax, has just commenced a tobacco
    factory, which will employ 80 hands.  The
    number of steamers now engaged in the seal fishery has <span class=SpellE>crreated</span> a necessity for foundries to carry out repairs, make boilers, etc.; and we have
    now three foundries in St. John's.  A
    good flour mill had also been recently erected by Messrs. Harvey and Co., and
    is now engaged in grinding wheat, etc., imported from Canada and the States.  A large amount of capital is now embarked in
    mining and lumbering, so that we may truly say a new manufacturing era has been
    fairly initiated, and we are beginning to shake off the lethargy of former
    times.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     Though something has been accomplished,
    much remains to be done in the manufacturing department, and I would invite the
    attention <span class=GramE>specially</span> of Canadian manufacturers to the
    field presented for their enterprise here in establishing various local
    manufactures.  We require for our
    fisheries an immense quantity of nets, seines, lines, twines, etc.  At present these are all imported, and yet it
    seems to me that all, or nearly all, might be manufactured in the country with
    profit to capitalists and great advantage to out unemployed population.  <span class=SpellE>Labour</span> is cheap
    here, and a vast number, especially females, in the capital have no means of
    employment.  The demand for nets, lines,
    etc. is one that can never fail.  Our
    Government <span class=GramE>are</span> holding out every encouragement for the
    establishment of local manufactures, more especially by admitting the raw
    materials free of duty or at a reduced rate.  Tanning might be carried on here with advantage; and as yet, we have not
    a single tannery.  A great number of
    hides are exported annually and returned to us from England in the shape of
    leather.  About half a million of
    sealskins are exported each year, and there is no reason why at least a fourth
    of these should not be manufactured on the spot.  A seal skin here is worth a dollar; when made
    up into boots, shoes, trunk, harness, etc., the product will sell for four
    dollars or more.  Here is a wide margin
    for profit.  <span class=GramE>Soap and
    candle making too present a field for enterprise, as at present these articles
    are all imported.</span>  In these and in
    many other departments capital might find profitable investment here.  Our laws will soon be altered so as to give
    facilities for lumbering, for which there is wide scope in our untouched
    forests.  Were the advantages presented
    here to capitalists thoroughly understood, there can be no doubt that many
    would be induced to come here and find a fair field for enterprise. </span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     When the temptations to embark in such an
    enterprise as the seal fishery, in which returns are so rapid and sometimes so
    enormous, are taken into consideration, it is not to be wondered at that the
    slower and more laborious methods of making money, presented in manufactures,
    are considered uninviting by Newfoundlanders, and that outsiders are left to
    initiate manufacturing enterprises.  When
    a sealing steamer can go to the  icefields and return in a fortnight or three weeks with cargo of fat
    worth $100 000, sober, plodding industry is apt to look tame in
    comparison.  In my last letter I referred
    to the favorable auspices under which our seal fishery had commenced, and
    ventured to predict a favorable issue.  These expectations are likely to be more than realized.  Several steamers have arrived with full
    loads, and many more are reported to be doing well, while our sailing craft are
    this year reaping a fat harvest, owing to the favorable season and the open
    condition of the ice.  The steamer Neptune,
    owned by Messrs. Job Brothers, commanded by the Hon. E. White, has this year
    performed an unprecedented feat in sealing.  She arrived here after an absence of twenty-six days, loaded to her
    almost capacity, and having 42 000 fine harp seals on board - the best trip yet
    made by any steamer.  Each seal is worth
    three dollars; so that the value of her cargo is easily reckoned.  The men get one-third the proceeds of the
    voyage, and the captain twenty cents per seal.  There were about 280 men on board, each of whom would be entitled to
    $150 were there no deductions or charges; <span class=SpellE>byt</span> of the
    latter there is sure to be a considerable list.  Seals are generally found on the ice in &quot;patches&quot; or
    herds.  Like an army they appear to have
    a main <span class=GramE>body,</span> and wings sometimes, at this season,
    extending over a very wide area.  Captain
    White was lucky enough to get right into the main body, consisting of an
    enormous herd closely packed together, so that the work of filling his vessel
    was very easy.  He states that had his
    vessel been capacious enough to contain them he could have taken 150 000 as
    easily as the 42 000 he brought in.  He
    left 7 000 &quot;panned&quot; on the ice, and directed a sailing vessel which
    he met how to find them; and in addition, he placed 3 000 on board another vessel,
    on condition of receiving a third of the seals.  This feat will immortalize the name of White among our
    &quot;sealers&quot; for half a century to come, as one of the &quot;luckiest
    skippers&quot; ever known.  The seals are
    all well-grown and are said to average from 46 to 49 pounds each.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     I mentioned in my last that the Greenland
    arrived first with 27 000 seals.  The
    Arctic, however, one of the Dundee steamers, Captain Adams, is at present
    second on the list as she brought in 24 000 seals, but of these no less than 1 500
    were old Hood seals, which make her cargo equal in value to 30 000 harp seals
    or $90 000 - a fine trip, and very encouraging to the new enterprise of Messrs.
    Stevens &amp; Son, owners of the Arctic and Aurora.  It is said the Arctic would have brought in a
    full cargo (she can carry 50 000) but for an injury to the
    &quot;condenser&quot; of her engine, which impeded her movements
    considerably.  The Aurora, when last
    seen, had 14 000 seals, and was taking more.  It is expected she will bring in at least 20 000.  Messrs. Stevens have purchased excellent
    premises here, and fitted them with the very best machinery for the manufacture
    of seal oil, including all the recent improvements.  The Arctic, Neptune, Panther and others will
    be off on their second trip in a few days.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     The S.S. Kite, owned by Bowring Bros.,
    brought in 16 000 seals, as many as she could possibly carry, being but a small
    steamer.  The Panther, (Baine, Johnston
    &amp; Co.) brought in 20 000.  Sailing
    craft are doing well.  The Rolling Wave
    got 9 000; the Barbara 6 000; Isabella Ridley 5 500; Glengarry a full load -
    not less than 8 000 or 9 000.  Favorable
    reports have been received of several of the other steamers.  When last spoken the Vanguard (Munn &amp;
    Co.) had 16 000; the Proteus 18 000; the Bear, Lion and Wolf each about 8 000
    or 10 000.  These were taking seals when
    seen last, and will probably bring in good cargoes.  Of course some may come off poorly.  The Eagle, Mastiff, Walrus and Falconer are
    not favorably reported.  At present there
    is every reason to expect that the fishery will prove quite a success this
    year.  At this date about 160 000 are
    landed in St. John's.  The seals appear
    to be scattered over a wide area this year, and the catch is, in consequence,
    well divided, and not confined to a few bumper trips.  A successful seal fishery tells <span
class=SpellE>favourably</span> on the business of the whole year, as after a
    good spring fishery our capitalists are much more inclined to make liberal
    advances for the prosecution of the summer fishery.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     The weather continues unusually mild.  We had a fall of snow last Sunday, but it
    speedily melted and the ground is quite bare.  No one remembers such a mild winter as this has been.  We have not seen any ice, the westerly winds
    having driven it elsewhere.</span></p>
  <p class=MsoPlainText><span style='font-family:"Courier New"'>     In future our mails <span class=GramE>be</span> fortnightly. </span></p>
</div>
</body>
</html>
